// Style Layout Position Fixed

// Content:
// - Variables
// - General
// - Placeholder
// - Layout collection

// Variables
$neutral-white:#ffffff;
$text-color:#444444;
$primary-color:#199ECB;
$primary-color-40:lighten($primary-color, 40%);
$secondary-color:#DDDA2F;
$secondary-color-20:lighten($secondary-color, 20%);
$secondary-color-30:lighten($secondary-color, 30%);
$l-main_header-height:80px;
$l-main_footer-height:40px;
$l-main_aside-width:180px;
$l-sub_header-height:40px;
$l-sub_footer-height:25px;
$l-sub_nav-height:25px;
$l-sub_nav2-height:25px;

// General
*{
    box-sizing:border-box;
}
body{
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
    color:$text-color;
}

// Placeholder
%fixed_element_wrapper{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    %overflowed_element{
        height:100%;
        overflow-y:auto;
        -webkit-overflow-scrolling: touch;
    }
}

// Layout collection
.l-main_header{
    position:fixed;
    top:0;
    left:0;
    height:$l-main_header-height;
    width:100%;
    background-color:$primary-color;
    z-index:2;
}
.l-main_footer{
    position:fixed;
    bottom:0;
    left:0;
    height:$l-main_footer-height;
    width:100%;
    background-color:$primary-color;
    z-index:2;
}
.l-main_article_side{
    @extend %fixed_element_wrapper;
    padding-top:$l-main_header-height + $l-sub_header-height + $l-sub_nav-height + $l-sub_nav-height;
    padding-bottom:$l-main_footer-height + $l-sub_footer-height;
    background-color:$neutral-white;
    padding-left:$l-main_aside-width;
    .l-main_article_side__inner{
        @extend %overflowed_element;
    }
}
.l-main_aside{
    @extend %fixed_element_wrapper;
    padding-top:$l-main_header-height;
    padding-bottom:$l-main_footer-height;
    width:$l-main_aside-width;
    background-color:$primary-color-40;
    z-index:1;
    .l-main_aside__inner{
        @extend %overflowed_element;
    }
}
.l-sub_header{
    position:fixed;    
    height:$l-sub_header-height;
    width:100%;
    top:$l-main_header-height;
    left:$l-main_aside-width;
    background-color:$secondary-color;
    z-index:2;
}
.l-sub_footer{
    position:fixed;
    height:$l-sub_footer-height;
    width:100%;
    bottom:$l-main_footer-height;
    left:$l-main_aside-width;
    background-color:$secondary-color;
    z-index:2;
}
.l-sub_nav{
    position:fixed;
    top:$l-main_header-height + $l-sub_header-height;
    left:$l-main_aside-width;
    z-index:2;
    height:$l-sub_nav-height;
    width:100%;
    background-color:$secondary-color-20;
    padding:3px;
}
.l-sub_nav2{
    @extend .l-sub_nav;
    top:$l-main_header-height + $l-sub_header-height + $l-sub_nav-height;
    height:$l-sub_nav2-height;
    background-color:$secondary-color-30;
}
.l-sub_article{
    // not necessary
}