// Style Index

// Content:
// - Variables
// - General



// Variables
$text-color:#444444;



// - General
body{
    padding:20px 50px 10px 50px;
    font-family:Helvetica, Arial, sans-serif;
    color:$text-color;
    background-color:white;
}
h2{
    margin-bottom:60px;
}
.layout_list{
    margin-bottom:40px;
    .layout_list__item__sublist{
        list-style-type:circle;
        font-size:11px;
        margin:5px 0 15px 0;
        padding:0 0 0 20px;
    }
}

.reference{
    font-size:10px;
    text-align:center;
}

.m-pros{
    color:green;
}
.m-cons{
    color:red;
}
.m-warning{
    color:orange;
}