// Style Index

// Content:
// - Variables
// - General



// Variables
$text-color:#444444;



// - General
body{
    padding:50px;
    font-family:Helvetica, Arial, sans-serif;
    color:$text-color;
    background-color:white;
}
h2{
    margin-bottom:100px;
}